.editor-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.editor-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.editor-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
