.custom {
  background-image: linear-gradient(to left, #005bea 100%, #005bea 100%);
  margin-top: 1%;
  border-radius: 10px;
  margin-left: 1%;
  margin-right: 1%;
}

.theme-card {
  transition: transform 0.2s;
}

.theme-card:hover {
  transform: translateY(-5px);
}

.gap-2 {
  gap: 0.5rem;
}
